<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NDMDemo.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="NDMDemo.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NDMDemo.Settings>
            <setting name="spatialWsUrl" serializeAs="String">
                <value>http://slc00ach.us.oracle.com:7001/SpatialWS-SpatialWS-context-root/SpatialWSXmlServlet</value>
            </setting>
            <setting name="templatesDir" serializeAs="String">
                <value>xml\request_templates\</value>
            </setting>
            <setting name="targetNetwork" serializeAs="String">
                <value>NAVTEQ_SF</value>
            </setting>
        </NDMDemo.Settings>
    </userSettings>
</configuration>